
.idea/.name
.idea/codeStyleSettings.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/aaea284c-c87d-433a-8034-97e9bb5b2fa2.xml
.idea/dataSources/49287933-ee4a-4337-825f-ec8915217483.xml
.idea/workspace.xml
.idea/sqldialects.xml
.idea/scopes/scope_settings.xml
.idea/php.xml
.idea/modules.xml
.idea/examen Juin.iml
*.xml
